.MessageList {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75vw;
    padding: 20px;
    background-color: #156711;
    color:white;
}

.Timestamp {
    color: gray;
    font-style: italic;
}