.Users {
    display: flex;
    flex: 1;
    width: 25vw;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #525C91;
}

.UsersOnline {
    padding: 20px;
    text-align: center;
    background-color: #313B74;
    color:white;
    border-left: 1px solid #7C84AE;
}

.UsersList {
    margin: 0;
    padding: 0;
    background-color: #525C91;
    border-top: 1px solid #7C84AE;
    border-right: 1px solid #7C84AE;

}

.UserItem {
    list-style: none;
    padding: 20px;
    margin: 0 0 0 20px;
    color: white;
    border-bottom: 1px solid #7C84AE;
}