body {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}

.AppHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    height:4vw;
}

.AppTitle {
    display: flex;
    width: 20vw;
    justify-content: center;
    box-sizing: border-box;
    background-color: #525C91;
    color:white;
    font-weight: bold;
    height: 100%;
}

.AppTitle img {
    max-height: 100%;
}

.AppRoom {
    display: flex;
    width: 70vw;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: #525C91;
    color:white;
    font-weight: bold;
}

.AppBody {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.MessageWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.GitIcon {
    display: flex;
    width: 10vw;
    justify-content: center;
    box-sizing: border-box;
    background-color: #525C91;
    height: 100%;
}

.GitIcon img {
    max-height: 100%;
}
